
/*
 * Default style sheet on Windows Platforms
 * Note: Always use CSS-classes with and without "ads--" namespace to support Qt4 & Qt5
 */

ads--CDockContainerWidget
{
    background: palette(dark);
}

ads--CDockContainerWidget QSplitter::handle
{
    background: palette(dark);
}

ads--CDockAreaWidget
{
    background: palette(window);
    border: 1px solid white;
}

ads--CDockAreaWidget #tabsMenuButton::menu-indicator
{
    image: none;
}

ads--CDockWidgetTitleBar
{
    background: palette(window);
    border-color: palette(light);
    border-style: solid;
    border-width: 0 1px 0 0;
    padding: 0 9px;
}

ads--CDockWidgetTitleBar[activeTab="true"]
{
    background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:0.5, stop:0 palette(window), stop:1 palette(light));
}

ads--CDockWidgetTitleBar QLabel
{
    color: palette(dark);
}

ads--CDockWidgetTitleBar[activeTab="true"] QLabel
{
    color: palette(foreground);
}

ads--CDockWidget
{
    background: palette(light);
    border-color: palette(light);
    border-style: solid;
    border-width: 1px 0 0 0;
}

QPushButton#closeButton,
QPushButton#tabsMenuButton
{
	padding: 2px;
}


