/*
 * Default style sheet on Windows Platforms
 * Note: Always use CSS-classes with and without "ads--" namespace to support Qt4 & Qt5
 */

ads--ContainerWidget,
ContainerWidget
{
	background: palette(dark);
}

ads--ContainerWidget QSplitter::handle,
ContainerWidget QSplitter::handle
{
	background: palette(dark);
}

ads--SectionWidget,
SectionWidget
{
	background: palette(window);
	border: 1px solid palette(light);
}

ads--SectionWidget #tabsMenuButton::menu-indicator,
SectionWidget #tabsMenuButton::menu-indicator
{
	image: none;
}

ads--SectionTitleWidget,
SectionTitleWidget
{
	background: palette(window);
	border-color: palette(light);
	border-style: solid;
	border-width: 0 1px 0 0;
	padding: 0 9px;
}

ads--SectionTitleWidget[activeTab="true"],
SectionTitleWidget[activeTab="true"]
{
/*	background: palette(light);*/
/*	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(255, 255, 255, 255), stop:1 rgba(240, 240, 240, 255));*/
	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:0.5, stop:0 palette(window), stop:1 palette(light));
}

ads--SectionContentWidget,
SectionContentWidget
{
	background: palette(light);
	border-color: palette(light);
	border-style: solid;
	border-width: 1px 0 0 0;
}

/* Special: QLabels inside SectionTitleWidget
*/
ads--SectionTitleWidget QLabel,
SectionTitleWidget QLabel
{
	color: palette(dark);
}
ads--SectionTitleWidget[activeTab="true"] QLabel,
SectionTitleWidget[activeTab="true"] QLabel
{
	color: palette(foreground);
}

/* Special: QLabels inside SectionTitleWidget, which is floating
*/
ads--FloatingWidget ads--SectionTitleWidget QLabel,
FloatingWidget SectionTitleWidget QLabel
{
	color: palette(foreground);
}
