QSplitter::handle {
	background: palette(light);
}

ads--ContainerWidget, ContainerWidget {
	background: palette(light);
}

ads--SectionWidget, SectionWidget {
	background: palette(light);
}

ads--SectionTitleWidget, SectionTitleWidget {
	background: #ffffff;
}
ads--SectionTitleWidget QLabel, SectionTitleWidget QLabel {
	color: #000000;
}

ads--SectionTitleWidget[activeTab="true"], SectionTitleWidget[activeTab="true"] {
	background: #000000;
	border-right: 1px solid #000000;
	padding: 9px;
}
ads--SectionTitleWidget[activeTab="true"] QLabel, SectionTitleWidget[activeTab="true"] QLabel {
	color: #ffffff;
}

ads--SectionContentWidget, SectionContentWidget {
	border: 1px solid #000000;
}

QAbstractItemView {
	border: 0;
}